#friends-display-link {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0;
  font-weight: 500;
}

#friends-display-link i {
  color: var(--light-grey);
  margin: 0 5px;
}

.friends-screen__channel {
  margin-top: 15px;
  border-top: var(--main-border);
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 0.8em;
}
