.alt-header {
  width: 100%;
  display: flex;
  padding: var(--horizontal-space);
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 20px;
  background-color: white;
}

.alt-header--transparent {
  background: transparent;
}

.alt-header__column h1 {
  font-size: 1.2rem;
  font-weight: 600;
}
