.alt-header {
  width: 100%;
  display: flex;
  padding: var(--horizontal-space);
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 20px;
  background-color: white;
}

.alt-header__column {
  width: 70px;
  display: flex;
  justify-content: center;
}

.alt-header__column:first-child {
  justify-content: flex-start;
}

.alt-header__column:last-child {
  justify-content: flex-end;
}

.alt-header__column > span > i {
  margin-left: 10px;
}

.alt-header__column h1 {
  font-size: 1.2rem;
  font-weight: 600;
}
