.badge {
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: tomato;
  color: white;
  font-weight: 600;
  font-size: 0.5em;
}

.badge--warning {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid tomato;
  color: tomato;
  border-radius: 50%;
  margin-left: 5px;
  font-size: 5px;
  font-weight: 600;
}
